@media only screen and (min-width: 1280px) {

    /*--BODY--*/

/*--HEADER--*/

/*--NAVIGATION--*/

nav button {display: none;}
    
nav ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav ul li a {
    font-size: 1.5em;
    border: none;
    padding: .6rem 1rem;
}

nav ul.hide {
    display: inline-flex;
    margin: auto;
}

/*--BANNER--*/

.banner {
    height: 100px;
}

.container h1 {
    display: none;
}

.logo {
    position: relative;
    bottom: 43px;
    left: 500px;
    width: 8em;
}

.container h4 {
    position: relative;
    bottom: 120px;
    left: 1250px;
}

.container h5 {
    position: relative;
    display: inline-block;
    bottom: 120px;
    left: 650px;
}

/*--HOME PAGE--*/

.homebox1 {
    display: flex;
    font-size: 1.2rem;
    margin: 0 auto;
    line-height: 1.5;
    width: 50%;
    align-items: center;
}

.homebox1 img {
    display: block;
    width: 40rem;
    position: relative;
    right: 100px;

}

.templeactivites img {
    width: 20rem;
    
}

/*--RESERVATION--*/

.reservationheading {
    text-align: center;
    font-size: 2rem;
    color: #C06014;
    display: block;
}

/*--FOOTER--*/
    
}