/*--BODY--*/

body {
    background-color: white;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    min-width: 320px;
}
a {
    color: black;
}

h2 {
    text-align: center;
    color: #C06014;
}

/*--THANK YOU--*/

.thankyou {
    display: block;
    margin-top: 5rem;
}

/*--HEADER--*/

header {
    display: flex;
    margin: 10px auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

header img {
	vertical-align: sub;
    margin: 10px;
    display: inline-block;
    max-width: 85px;
}

.headings {
    display: inline-block;
    text-align: center;
}

header h1 {
    color: black;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/*--NAVIGATION--*/
nav {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: #CDCDCD;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul.hide {
    display: none;
}

/*Remove default link underline and color*/
nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    margin: 0 auto;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.4);
}

/*wayfinding active link */
nav ul li.active a {
    background-color: #C06014;
    font-style: italic;
}

/* Change the link color on hover */
nav ul li a:hover {background-color: rgba(0,0,0,0.4);}

/*--BANNER--*/
.banner {
    display: flex;
    background-color: #EDDBCD;
}

.container {
    display: inline-block;
}

.container h1 {
    display: inline-block;
    position: relative;
    bottom: 30px;
    right: 10px;

}

.container h5 {
    display: none;
}

.logo {
    width: 4em;
}


/*--HOME PAGE--*/

h1 {
    display: block;
    text-align: center;
    color: #C06014;
}

.homebox1 img {
    display: flex;
    width: 100%;
    max-height: 300px;
}

.homebox1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-flow: wrap;
}


.templeactivites {
    border: none;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    background-color: white;
    color: #C06014;
    font-size: large;
}
.templeactivites img {
    width: 100%;   
    display: block;
}

/*--RESERVATION--*/
.reservationheading {
    text-align: center;
    font-size: 2rem;
    color: #C06014;
    display: none;
}

Form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 400px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vw;
    max-width: 400px;
    border: none;
    margin-top: 30px;
    

}

fieldset legend {
    text-decoration: underline;
}

fieldset legend {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    width: 80vw;
    max-width: 350px;
    padding: 12px 20px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    width: 100%;
    height: 120px;
}

.buttonHolder {
    text-align: left;
    margin: 15px;
}

.submitButton {
    width: 200px;
    background-color: #C06014;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/*--CONTACT PAGE--*/


.contactpage {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 2rem;
}

.contactform {
    text-align: left;
}

.mapouter {
    display: flex;
    width: 40rem;
    align-items: center; 
}

.gmap_canvas {
    display: block;
}

/*--SERVICES--*/

.servicepage {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.servicepage p {
    line-height: 1.5rem;
    margin-left: 2rem;
}

.servicepage h3 {
    text-decoration: underline;
    color: #C06014;
}

.servicepage h4 {
    color: #C06014;
    margin-left: 2rem;
}

.servicepage a {
    margin-left: 3rem;
}

.servicepage img {
    width: 20rem;
}

.servicesamenities {
    display: flex;
    flex-direction: column
}

.receptionmissionary {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*--RECEPTION PAGE--*/

.receptioncontiner {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly 
}

.receptioncontiner h2 {
    text-align: left;
}
.receptioncontiner h3 {
    color: #C06014;
}
.receptioncontiner p {
    margin-left: 2rem;
    line-height: 1.5rem;
}

.location {
    display: flex;
    flex-direction: column;
}

.food {
    display: flex;
    flex-direction: column;
}

/*--MISSIONARY PAGE--*/

.missionarypage {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.missionarypage h3 {
    color: #C06014;
    margin-left: 1rem;
}

.missionarypage p {
    margin-left: 2rem;
    line-height: 1.5rem;
}

.missionarypage figcaption {
    color: #C06014;
}

.roomimages {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

.amenties {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;

}

.missionaryform {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}


/*--FOOTER--*/

footer {
    font-size: smaller;
    background-color: #CDCDCD;
    color: black;
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
}

p.footer-bar {
    padding-bottom: 30px;
}

footer h3 {
    font-size: 1.25rem;
    padding-top: 20px;
}

.facebookicon {
    width: 2em;
}

.twittericon {
    width: 2em;
}

.instagramicon {
    width: 2em;
}

.youtubeicon {
    width: 2em;
}

/*------ Clearfix: Force an Element not to collapse ------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}